In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.DataFrame([['windy','hot',25],['sunny','hot',30],['cloudy','cold',18]],columns=['weather','feeling','temperature'])
df

  weather feeling  temperature
0   windy     hot           25
1   sunny     hot           30
2  cloudy    cold           18

# 手動轉換

In [3]:
weather_mapping={'windy':0,'sunny':1,'cloudy':2}
feeling_mapping={'hot':0,'cold':1}
df['weather']=df['weather'].map(weather_mapping)
df['feeling']=df['feeling'].map(feeling_mapping)

df

   weather  feeling  temperature
0        0        0           25
1        1        0           30
2        2        1           18

# LabelEncoder

In [4]:
df=pd.DataFrame([['windy','hot',25],['sunny','hot',30],['cloudy','cold',18]],columns=['weather','feeling','temperature'])
df

  weather feeling  temperature
0   windy     hot           25
1   sunny     hot           30
2  cloudy    cold           18

In [5]:
le=LabelEncoder()
df['weather']=le.fit_transform(df['weather'])
df['feeling']=le.fit_transform(df['feeling'])
df

   weather  feeling  temperature
0        2        1           25
1        1        1           30
2        0        0           18

In [6]:
df=pd.DataFrame([['windy','hot',25],['sunny','hot',30],['cloudy','cold',18]],columns=['weather','feeling','temperature'])
df

  weather feeling  temperature
0   windy     hot           25
1   sunny     hot           30
2  cloudy    cold           18

In [7]:
for col in df[['weather','feeling']]:
    df[col]=le.fit_transform(df[col])
    
df

   weather  feeling  temperature
0        2        1           25
1        1        1           30
2        0        0           18