In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
data=pd.DataFrame([['A','windy','hot',25],['B','sunny','hot',30],['B','cloudy','cold',18]],columns=['Area','weather','feeling','temperature'])
df=data.copy()
df

  Area weather feeling  temperature
0    A   windy     hot           25
1    B   sunny     hot           30
2    B  cloudy    cold           18

# OneHotEncoder

In [3]:
enc=OneHotEncoder()

In [5]:
le=LabelEncoder()
for col in df[['Area','weather','feeling']]:
    df[col]=le.fit_transform(df[col])
df

   Area  weather  feeling  temperature
0     0        2        1           25
1     1        1        1           30
2     1        0        0           18

In [6]:
df_ohe=enc.fit_transform(df).toarray()
pd.DataFrame(df_ohe)

     0    1    2    3    4    5    6    7    8    9
0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0
1  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0
2  0.0  1.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0

In [7]:
enc_1=OneHotEncoder(categorical_features=[1])

In [8]:
df_ohe=enc_1.fit_transform(df).toarray()
pd.DataFrame(df_ohe)

     0    1    2    3    4     5
0  0.0  0.0  1.0  0.0  1.0  25.0
1  0.0  1.0  0.0  1.0  1.0  30.0
2  1.0  0.0  0.0  1.0  0.0  18.0

# get_dummies

In [9]:
df=data.copy()
df

  Area weather feeling  temperature
0    A   windy     hot           25
1    B   sunny     hot           30
2    B  cloudy    cold           18

In [10]:
df_dum=pd.get_dummies(df)
df_dum

,temperature,Area_A,Area_B,weather_cloudy,weather_sunny,weather_windy,feeling_cold,feeling_hot
0,25,1,0,0,0,1,0,1
1,30,0,1,0,1,0,0,1
2,18,0,1,1,0,0,1,0

In [11]:
df_dum=pd.get_dummies(df[['Area','weather']])
df_dum

   Area_A  Area_B  weather_cloudy  weather_sunny  weather_windy
0       1       0               0              0              1
1       0       1               0              1              0
2       0       1               1              0              0

In [12]:
df_new=pd.concat([df_dum,df['temperature']],axis=1)
df_new

   Area_A  Area_B  weather_cloudy  weather_sunny  weather_windy  temperature
0       1       0               0              0              1           25
1       0       1               0              1              0           30
2       0       1               1              0              0           18